{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'slackers_app/general.css' %}">

<div id="center">
  <div class="block flex-container">
    <div class="button color2">
      <form action="{{ page }}" method="post" autocomplete="off">
        {% csrf_token %}
        {{ form }}
        <input type="Submit" value="Apply Changes" class="button-mini">
      </form>
    </div>
    <a href="{{ index }}"> <button class="button-mini">
      Bring me home
    </button> </a>
  </div>
</div>
