{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'slackers_app/general.css' %}">

<div id="center">
  <div class="block flex-container">
    <a href="{{ make }}" class="button color1">
      <p> Create a new User </p>
    </a>
    <div class="button color2">
      <form action="{{ index }}" method="post" autocomplete="off">
        {% csrf_token %}
        {{ form }}
        <input class="button-mini" type="Submit" value="Login">
      </form>
    </div>
  </div>
</div>
