body {
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  text-align: center;
  padding: 5px 0;
}

#chat-list {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat-min-width {
  width: 100%;
}

.chat-min-width:hover {
  background-color: #EEEEEE;
}

.chat-min {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

#new-chat {
  justify-content: center;
}

.icon {
  height: inherit;
}

.icon-min {
  margin: 0;
  height: 20px;
}

#chat {
  height: 100%;
  width: 80%;
  border-left-style: solid;
}

#chat-head {
  text-align: center;
  border-bottom-style: solid;
  height: 30px;
}

#chat-body {
  height: calc(100% - 30px);
  display: flex;
  flex-direction: column-reverse;
}

.message {
  padding: 10px;
  width: 100%;
}

.message:hover {
  background-color: #EEEEEE
}

#new-message {
  border-top-style: solid;
}


body {
  display: flex;
}
