body {
  height: 100%;
  margin: 0;
  display: flex;
  font-family: "Roboto"
}

a {
  text-decoration: none;
  color: black;
}

button {
  padding: 5px;
  border-radius: 20px;
  margin: 0 5px;
}

.header {
  text-align: center;
  padding: 5px 0;
}

#chat-list {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: skyblue;
}

.chat-min-width {
  width: 100%;
}

.chat-min-width:hover {
  background-color: lightblue;
}

.chat-min {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

#new-chat {
  justify-content: center;
}

.icon {
  height: inherit;
}

.icon-min {
  margin: 0;
  height: 20px;
}

#chat {
  height: 100%;
  width: 80%;
  border-left-style: solid;
  background-color: lightgreen;
  display: flex;
  flex-direction: column;
}

#chat-head {
  text-align: center;
  border-bottom-style: solid;
  padding: 5px;
  background-color: limegreen;
}

#chat-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
}

.message {
  padding: 10px;
  width: auto;
}

.message:hover {
  background-color: palegreen;
}

#new-message {
  border-top-style: solid;
  padding: 10px 10px;
  background: limegreen;
}

#new-message form {
  margin: 0;
}

.message-box {
  font-size: 14pt;
  width: 100%;
  border-radius: 5px;
}

#send-message {
  display: none;
}
